.btn-icon {
    background-color: #92cea1;
    border: none;
    width: 81px;
    border-radius: 3px;
    margin-right: 18px

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    top: 20px;
    right: -70px;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    list-style: none;
    width: 150px;
    text-decoration:none;
}