/*.container{*/
/*    margin: 15px !important;*/
/*    height: auto !important;*/
/*    width: 20rem !important;*/
/*}*/
.image-staff{
    width: 40px;
    height: 40px;
    border-radius: 50%;

}
.name-staff{
    color: #3075ba;
    font-family:Rubik;
    font-size: 20px !important;
    font-weight: 600;
    line-height: 30px;
    margin: 0px 0px 8px;
    text-align: left;
}
.position-staff{
    color: #171f23;
    font-family: Roboto;
    font-size: 14px !important;
    line-height: 22.4px;
    margin: -6px 0px 0px;
    text-align: left;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-style: double;
    border-color:  #3e8e41;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    box-shadow: #0bff7e;
    font-style: revert;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    float: left;
    border-style: double;
    border-color:  #3e8e41;
    border-radius: 5px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
.icon-staff{
    text-align: right;
}
.button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    padding: 10px;
    border: none;
}
.button4:hover {background-color: #e7e7e7;}
.button-position{
    text-align: right;
}
.pagination{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.wrapper {
    padding-left: 10px; /* Cách lề trái của div */
    padding-right: 0px; /* Cách lề trái của div */
    position: relative;
}

.marquee {
    position: relative;
    padding: 2px;
    text-align: left;
    left: 0%; /* Đặt span cố định ở bên trái */
    white-space: nowrap; /* Ngăn văn bản xuống dòng */
}

.box-ndc {
    position: absolute;
    left: 50%;
    border-style: double;
    border-color: #b02a37;
    width: 50%;
    height: 80%;
    overflow: hidden;
    text-align: left;
    padding: 2px;
}

.mb-4 {
    background-color: rgba(233, 190, 239, 0.2);
}

.wrapper:hover {
    background-color: rgba(154, 205, 50, 0.2);
}

.box-ndc:hover  {
    overflow: unset;


}

.box-ndc:hover .marquee {
    white-space: unset;
    position: absolute;
    right: 0%;
    left: 0%;
    background-color: #067086;
    border-style: dashed;
    border-color: #b1dc21;
    color: white;
    z-index: 2;
}


.txtdeepshadow {

    text-align: center;

    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;

    font-size: 30px;

    height: 100px;

    padding-top: 40px;

    color: #e0dfdc;

    background-color: rgba(51, 51, 51, 0.9);

    letter-spacing: .1em;

    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);

}



