
.item-admin1 {
    width: 100%;
    border-radius: 5px;
    background: orange;
    padding: 10px;
    min-height: 150px;
}
.item-admin2 {
    width: 100%;
    border-radius: 5px;
    background: #b6d4fe;
    padding: 10px;
    min-height: 150px;
}
.item-admin3 {
    width: 100%;
    border-radius: 5px;
    background: darkseagreen;
    padding: 10px;
    min-height: 180px;
}
.item-admin4 {
    width: 100%;
    border-radius: 5px;
    background: plum;
    padding: 10px;
    min-height: 150px;
}